@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&display=swap");

@font-face {
	font-family: Muybridge;
	src: url(./assets/fonts/MuybridgeGX.woff2) format("woff2");
}

:root {
	--color-primary: #223354;
	--color-secondary: #444444;
	--color-tertiary: #222226;
	--color-quaternary: #69696a;
	--color-white: #ffffff;
	--color-black: #000000;
	--color-solid: #dcdcdc;

	--font-primary: "Poppins", sans-serif;
	--font-secondary: "Dancing Script", cursive;

	font-family: var(--font-primary);
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}

html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
li {
	list-style: none;
}

code {
	font-size: 12px;
}

.img-fluid {
	height: 100vh;
	width: auto;
}
.btn-group {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;
}

.text-strog {
	font-weight: 600;
}

.text-dark {
	color: var(--color-secondary);
}

.text-light {
	color: var(--color-white);
}

.text-solid {
	color: #69696a;
}

.font-size-sm {
	font-size: 12px;
}

@keyframes gallop {
	from {
		font-variation-settings: "TIME" 0;
	}
	to {
		font-variation-settings: "TIME" 15;
	}
}
